div.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 29px;

    p {
        font-size: 12px;
        font-weight: 500;
        font-family: $secondaryFont;
        color: #000;
    }
    nav ul li a {
        width: 28px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFF;
        margin: 0 6px;
        border-radius: 5px;
        color: #000;
        font-size: 12px;
        font-family: $thirdFont;

        &.active {
            background-color: #5784BA;
            color: #FFF;
        }
    }
}