.for__you {
    margin-left: 32px;
}

div.for__you-main {
    margin-right: 32px;
}

.for__you .news {
    margin-bottom: 33px;
}

div.for__you-message {
    max-width: 484px;
}

/* Responsive BreakPoints */
@media (max-width: 1399.98px) {
    div.for__you-message {
        max-width: 400px;
    }
}

@media (max-width: 1199.98px) {
    div.for__you-message {
        max-width: 100%;
    }
}

@media (max-width: 1024.320px) {
    div.for__you-main {
        margin-right: 0;
        margin-bottom: 33px;
    }
    .for__you-row {
        flex-direction: column;
    }
}

@media (max-width: 991.98px) {
    .row.for__you-row {
        flex-direction: column;
    }
    .for__you {
        margin-left: 12px;
    }
}

@media (max-width: 767.98px) {
    .for__you {
        margin: 0;
        padding-bottom: 80px;
    }
}