.class__information-title {
    margin-top: 32px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.class__information-item {
    margin-top: 24px;
}
.class__information ul {
    margin-top: 35px;
}
.class__information-item,
.class__information li {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}


@media (max-width: 767.98px) {
    .class__information-title {
        font-size: 14px;
        line-height: 17px;
        margin-top: 15px;
    }
    .class__information ul {
        padding-left: 25px;
        margin-top: 15px;
    }
    .class__information-item, 
    .class__information li {
        margin-top: 10px;
        font-weight: 300;
        font-size: 12px;
    }
}