.class__detail {
    padding: 16px 0 0 40px;
}

.class__detail-body {
    margin-top: 24px;
    background: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
}

.class__detail-information {
    padding: 112px 80px 37px 80px;
}
.class__detail-information-header {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 0.7px solid #000000;
}

.class__detail-information-header p {
    padding-bottom: 6px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-right: 62px;
    margin-bottom: -2px;
    cursor: not-allowed;
}

.class__detail-information-header p.active {
    color: #5784BA;
    position: relative;
    border-bottom: 3px solid #5784BA;
    cursor: pointer;
}
