.class__progress {
    padding: 16px 0 0 40px;
}

.class__progress-body {
    margin-top: 24px;
    background: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
}

.class__progress-information {
    padding: 0 80px 37px 80px;
}
.class__progress-percentage {
    height: 112px;
    padding-left: 272px;
}
.class__progress-percentage p {
    margin-bottom: 2px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #5784BA;
}
.class__progress-percentage .progress {
    height: 3px;
    background: #C4C4C4;
    border-radius: 10px;
    overflow: visible;
}
.class__progress-percentage .progress-bar {
    transform: translateY(-2px);
    height: 7px;
    background: #5784BA;
    border-radius: 10px;
}

.class__progress-information-header {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 0.7px solid #000000;
}

.class__progress-information-header a {
    padding-bottom: 6px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-right: 62px;
    margin-bottom: -2px;
}
.class__progress-information-header a:hover {
    text-decoration: none;
}

.class__progress-information-header a.active {
    color: #5784BA;
    position: relative;
    border-bottom: 3px solid #5784BA;
}


@media (max-width: 991.98px) {
    .class__progress {
        padding: 16px 0 0 12px;
    }   
    .class__progress-information {
        padding: 0 40px 37px 40px;
    }
    .class__progress-percentage {
        height: 50px;
        padding-left: 161px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 767.98px) {
    .class__progress {
        padding: 0;
    }
    .class__progress-body {
        margin-top: 14px;
    }
    .class__detail-header {
        padding: 10px;
        height: 150px;
    }
    .class__photo {
        margin-right: 10px;
        width: 100px;
        height: 100px;
        transform: translateY(40px);
    }
    .class__photo img {
        width: 50px;
        height: 50px;
    }
    .class__name {
        line-height: 18.93px;
        margin-bottom: 5px;
    }
    .class__info-item {
        margin-right: 5px;
        font-size: 8px;
    }
    .score__class {
        display: none;
    }

    .class__progress-information {
        padding: 0 10px 80px 10px;
    }
    .class__progress-percentage {
        height: 30px;
        padding-left: 110px;
    }
    .class__progress-information-header {
        margin-top: 20px;
    }
    .class__progress-information-header a {
        font-size: 12px;
        line-height: 14px;
        margin-right: 20px;
    }
}