.table__class-progress table {
    width: 100%;
}

.table__class-progress table th {
    padding: 24px 32px 24px 0;
}
.table__class-progress table td {
    padding: 12px 32px 12px 0;
}
.table__class-progress table tbody tr {
    border-bottom: 2px solid #E6EDF6;
}
.table__class-progress table td:last-child {
    padding: 12px 24px 12px 0;
}
.table__class-progress table th:first-child {
    padding: 24px 32px;
    width: 20px;
    height: 20px;
}

.table__class-progress table td:first-child {
    padding: 12px 32px;
    width: 20px;
    height: 20px;
}

.table__class-progress table th {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #000000;
}
input[name="table__class-progress-checked-header"],
input[name="table__class-progress-checked-body"] {
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}
.table__class-progress table td {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #000000;
    background: #FFFFFF;
}
.table__class-progress table td:first-child {
    border-radius: 5px 0 0 5px;
}
.table__class-progress table td:last-child {
    border-radius: 0 5px 5px 0;
}
.table__class-progress table td.score {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #51E72B;
    text-align: center;
}
.table__class-progress table td img {
    cursor: pointer;
}
.btn-ongoing {
    padding: 4px 8px;
    background: #D2DEED;
    border-radius: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #5784BA;
}


/* Responsive BreakPoints */
@media (max-width: 1399.98px) {
    .table__class-progress table td {
        padding: 10px 10px 10px 0;
    }
}

@media (max-width: 1199.98px) {
    .table__class-progress table th:first-child,
    .table__class-progress table td:first-child {
        padding: 10px 10px;
    }
}
