.messages__search {
    background-color: #E6EDF6;
    height: 47.88px;
    border-radius: 17.95px;
    display: flex;
    align-items: center;
    padding: 0 18.13px;
}
.messages__search input{
    margin-left: 12.33px;
    border: none;
    background-color: transparent;
    height: 100%;    
    flex: 1;
}
.messages__search input:focus {
    outline: none;
}