.sidebar__wrapper {
    height: 976px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #5784BA;
}

.sidebar__icon-notif {
    position: absolute;
    top: 34.47px;
    right: 28.09px;
}

.sidebar__user-info {
    padding: 87px 32px 74px;
}
.sidebar__user-info img {
    width: 56px;
    height: 56px;
    object-fit: cover;
    cursor: pointer;
}
.sidebar__wrapper.active {
    background: #FFFFFF;
}
.sidebar__wrapper.active .user-name,
.sidebar__wrapper.active .user-status {
    color: #202020;
}

.user-name {
    margin: 26.62px 0 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #F9F9F9;
}
.user-status {
    margin: 2px 0 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #F9F9F9;
}

.sidebar__main {
    border-radius: 20px;
    background-color: #5784BA;
    height: 100%;
}
.sidebar__main-item {
    padding: 0 32px;
    height: 78px;
    display: flex;
    align-items: center;
}
.sidebar__main-item:hover {
    text-decoration: none;
}
.sidebar__main-item img {
    margin-right: 31.75px;
}
.sidebar__main-item p {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.sidebar__main-item .logout {
    color: #FF1313;
}

/* Active */
.sidebar__main-item.active {
    height: 98px;
    position: relative;
    background: #FFFFFF;
    border-radius: 20px 20px 0 0;
    margin-bottom: -20px;
    padding-bottom: 20px;
}
.sidebar__main-item.active p {
    color: #2F2F2F;
}
.sidebar__main-item.active::after {
    display: table;
    content: "";
    position: absolute;
    width: 100%;
    height: 21px;
    border-radius: 20px 20px 0 0;
    background: #5784BA;
    bottom: -1px;
    left: 0;
}


@media (max-width: 1199.98px) {
    .sidebar__main-item img {
        margin-right: 15px;
    }
}

@media (max-width: 991.98px) {
    .sidebar__icon-notif {
        display: none;
    }
    .sidebar__user-info {
        padding: 100px 0 50px;
        display: flex;
        justify-content: center;
    }
    .sidebar__user-info img {
        width: 40px;
        height: 40px;
    }
    .user-name,
    .user-status,
    .sidebar__main-item p {
        display: none;
    }
    .sidebar__main {
        display: flex;
        flex-direction: column;
    }
    .sidebar__main-item img {
        margin-right: 0;
    }
    .sidebar__main-item {
        justify-content: center;
    }
}