@import 'helpers/variables';
@import 'helpers/sidebar';


div.container-fluid {
    padding: 24px;
    background-color: #E6EDF6;
    font-family: $primaryFont;
    min-height: 100vh;

    div.row {
        margin: 0;
        flex: 1;

        div.col.content {
            padding: 0;
            background-color: #FFF;
            border-radius: 20px;
            margin-left: 32px;
            overflow: hidden;

            div.header-profile {
                height: 375px;
                width: 100%;
                background-image: url(../img/ilustrations/profile-bg.png);
                background-size: cover;
                background-repeat: no-repeat;
                position: relative;
                padding-bottom: 80px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                flex-direction: column;

                div.avatar {
                    position: relative;
                    z-index: 10;

                    img.user-profile {
                        height: 180px;
                        width: 180px;
                    }
                    img.edit-profile {
                        position: absolute;
                        bottom: 0;
                        right: -14px;
                        cursor: pointer;
                    }
                }

                h1.name {
                    z-index: 10;
                    margin: 37px 0 0;
                    font-family: $primaryFont;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 28px;
                    text-align: center;
                    color: #FFFFFF;
                }

                &::after {
                    content: "";
                    display: table;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background-image: url(../img/ilustrations/bg-overlay.png);
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
            div.profile-body {
                padding: 40px 60px;
                h1.title {
                    margin-bottom: 44px;
                    font-family: $secondaryFont;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 29px;
                    color: #000000;
                }
                div.settings {
                    div.setting-item {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        height: 71px;
                        border-bottom: 2px solid #E6EDF6;
                        cursor: pointer;

                        &.no-border {
                            border-bottom: none;
                        }
                        div.caption-wrapper {
                            display: flex;
                            align-items: center;
                            img {
                                margin-right: 18.67px;
                            }
                        }
                        img.right-arrow {
                            margin-right: 0;
                        }
                        h2.title {
                            font-family: $thirdFont;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 20px;
                            line-height: 30px;
                            color: #010620;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}