.activity {
    padding: 16px 0;
    margin-left: 40px;
    height: 100%;
}
.activity__label {
    margin: 33px 0 6px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    padding-left: 24px;
}

.my__class--view-all {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.my__class--view-all p {
    margin-right: 10.61px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.my__class--view-all img {
    width: 4.48px;
    height: 7.82px;
}