.my__class-search {
    flex: 1;
}
.my__class-search-input {
    position: relative;
    display: flex;
    align-items: center;
}
.my__class-search-input input {
    height: 40px;
    background: #FFFFFF;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
    flex: 1;
    padding: 0 40px;
    margin-right: 8px;
}
.my__class-search-input input::placeholder {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #ADA9A9;
}
.my__class-search-input img {
    position: absolute;
    left: 17.17px;
    top: 14.17px;
    z-index: 50;
}
.btn__search-class {
    padding: 0 28px;
    display: block;
    background: #5784BA;
    border-radius: 5px;
    border: none;
    height: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}
