.class__detail-header {
    padding: 0 48px 17px 80px;
    height: 300px;
    background-image: url(../../assets/dummys/bg-class-detail.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
}
.class__information {
    flex: 1;
}
.class__info {
    display: flex;
    align-items: center;
}
.class__name {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    margin-bottom: 16px;
}
.class__info-item {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-right: 32px;
}
.class__photo {
    margin-right: 32px;
    width: 240px;
    height: 240px;
    background: #5784BA;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(103px);
}
.class__photo img {
    width: 166.67px;
    height: 111.11px;
    object-fit: contain;
}
.btn__register {
    padding: 9px 24px;
    background: #57BA61;
    border-radius: 23.4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24.96px;
    line-height: 30px;
    color: #FEFEFE;
    border: none;
}
.score__class {
    transform: translateY(17px);
}
.score__class p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
.score__class h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 78px;
    letter-spacing: 0.05em;
    color: #51E72B;
    text-align: center;
}


@media (max-width: 1399.98px) {
    .class__detail-header {
        padding: 0 30px 17px 80px;
    }
    .class__info-item {
        margin-right: 15px;
    }
    .btn__register {
        font-size: 18px;
    }
    .score__class h1 {
        font-size: 50px;
    }
}

@media (max-width: 991.98px) {

    .class__detail-header {
        padding: 0 30px 17px 40px;
        height: 250px;
    }
    .class__name {
        font-size: 15px;
    }
    .class__info-item {
        margin-right: 15px;
        font-size: 12px;
    }
    .score__class h1 {
        font-size: 30px;
        line-height: 60px;
    }
    .class__photo {
        margin-right: 16px;
        width: 150px;
        height: 150px;
        transform: translateY(60px);
    }
    .class__photo img {
        width: 70px;
        height: 70px;
        object-fit: contain;
    }
}
