html {
    scroll-behavior: smooth;
}

.row, .col, h1, p {
    margin: 0;
    padding: 0;
}

.content {
    width: 100%;
    min-height: 1024px;
    background-color: #E6EDF6;
    padding: 24px;
}

.sidebar {
    max-width: 252px;
    padding: 0;
}

.main {
    padding: 0;
}

@media (max-width: 991.98px) {
    .sidebar {
        max-width: 60px;
    }
}