:root {
    --primary-background: #E6EDF6;
}

.content {
    width: 100%;
    height: 100vh;
    background-color: var(--primary-background);
    margin: 0;
    padding: 24px;
}

.sidebar {
    max-width: 252px;
    padding: 0;
}

.main {
    padding: 0;
}