:root {
    --primary-background: #E6EDF6;
}

.row, .col, h1, p {
    margin: 0;
    padding: 0;
}

.content {
    width: 100%;
    min-height: 1024px;
    background-color: var(--primary-background);
    padding: 24px;
}

.sidebar {
    max-width: 252px;
    padding: 0;
}

.main {
    padding: 0;
}